.news {
    overflow-y: scroll;
}

#vertmenu {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.news {
    /* margin: 10px; */
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    height: 100%;
    width: auto;
    border: rgb(221, 219, 219) 1px solid;
}

.newsPlaceholder {
    padding-top: 3%;
    font-size: 60px;
}

.map {
    grid-column: 2 / span 1;
    width: auto;
    border: rgb(221, 219, 219) 1px solid;
    text-align: center;
    /* margin: 10px; */
    border-radius: 4px;
  }
  
  .hello {
    padding-top: 30%;
  }
  
  .data {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    width: auto;
    border: rgb(221, 219, 219) 1px solid;
    /* margin: 10px; */
    border-radius: 4px;
    text-align: center;
  }
  
  .covid {
    padding-top: 90%;
  }

  #usButton {
    width: 50%;
    height: 5%;
    margin-top: 5%;
    background-color: red;
    color: white;
    font-size: 2em;
    border-radius: 10px;
  }

  .item {
    overflow-y: scroll;
    height: 50%;
  }

  .flag {
    margin-left: 5px;
    width: 100%;
    height: 80%;
    grid-column: 1 / span 1;
    border: 1px solid rgb(160, 160, 160);
  }

  .resultsDiv {
    margin-top: 20px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 4px solid black;
  }

  .results1 {
    grid-column: 2 / span 1;
  }

  .resultsDiv2 {
    margin-top: 20px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    border: 4px solid black;
    padding: 5px;
  }

  .flag2 {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border: 1px solid rgb(160, 160, 160);
  }

  label {
    font-size: 2em;
  }

  .lineChart {
    width: 100%;
    height: 270px;
    /* background-color: blue; */
    overflow: scroll;
  }

  .cdcTweets {
    overflow-y: scroll;
    width: 400px;
    margin: 0 auto;
  }