#vertmenu {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  width: auto;
  height: 800px;
}

.youtubevm {
  margin: 5px;
  width: auto;
  overflow-y: auto;
  height: 1fr;
  border-radius: 8px;
  grid-row: 2 / span 1;
}

.twittervm {
  margin: 5px;
  width: 100%;
  background-color: rgb(53, 59, 63);
  border-radius: 8px;
  grid-row: 1 / span 1;
  height: 1fr;
}

.hospitalData {
  grid-row: 2 / span 1;
}

.stateSelector {
  grid-row: 2 / span 1;
}

.map {
  margin: 20px;
  grid-column: 2 / span 1;
  text-align: center;
  border-radius: 5px;
  border: solid 2px rgb(53, 59, 63);
}

.news {
  height: 225px;
    background-color: rgb(53, 59, 63);
    border-radius: 8px;
    overflow-y: scroll;  
    margin: 20px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

.container {
  display: grid;
  margin-bottom: 35px;
}

.newsGrid {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  height: 50px;
}

.newsImage {
  margin: auto auto;
  width: 120px;
  height: 80px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.articleTitle {
  font-weight: bold;
  margin: auto -10px;
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text {
  font-size: 2em;
}

.text2 {
  font-size: 1.2em;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}
  
.hello {
  padding-top: 30%;
}

.data {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  width: auto;
  text-align: center;
  margin-right: 20px;
}

.covid {
  padding-top: 90%;
}

.usFlag {
  margin-top: 20px;
  margin-left: 5px;
  width: 100%;
  height: 80%;
  grid-column: 1 / span 1;
  border: 1px solid rgb(160, 160, 160);
}

.usaresults {
  margin-top: 20px;
  width: 200px;
  margin: auto;
  margin-right: 0px;
}

.resultsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-row: 1 / span 1;
  margin-top: 20px;
  padding: 8px;
  background-color: rgb(53, 59, 63);
  border-radius: 8px;
  height: auto;

  box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
}

.resultsDiv2 {
  margin: 10px 0px 10px 0px ;
  grid-row: 2 / span 1;
  background-color: rgb(53, 59, 63);
  border-radius: 8px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 8px;
  box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
}


.lineChart {
  padding: 8px;
  grid-row: 3 / span 1;
  width: 100%;
  height: auto;
  background-color: rgb(53, 59, 63);
  border-radius: 8px;
}

.flag2 {
  margin-left: 5px;
  margin-bottom: 5px;
  width: 250px;
  height: 150px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 1px solid rgb(160, 160, 160);
}

label {
  font-size: 2em;
}

.countryTable {
  overflow-y: scroll;
}

.dp {
  font-size: 5em;
}

.stateName {
  font-size: 5em;
}

.ui {
  width: 75px;
  color: black;
}

.line2 {
  background-color: white;
}

.tableText {
  color: white;
}

.lineChart svg {
  padding-right: 45px;
}

.lineChart h1 {
  padding-top: 20px;
}

.resultsDiv img {
  border-radius: 10px;
  border-color: transparent;
  margin-left: 50px;
}

.resultsDiv2 img {
  border-radius: 10px;
  border-color: transparent;
}