.App {
  text-align: center;
  background-color: rgb(41, 41, 41);
  color: white;
}

body {
  background-color: rgb(41, 41, 41);
}

main {
  margin: auto auto;
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  padding: 5px;
  padding-top: 0px;
  background-color: rgb(41, 41, 41);
}

.wrapper {
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 5px;
  background-color: rgb(41, 41, 41);
  height: 94%;
  width: 100%;
  border-radius: 5px;
}

iframe {
  border-radius: 10px;
}
 
.youtube iframe{
  margin-top: 10px;
  margin-left: 3px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
}

.menu1 {
  height: 75px;
  background-color: rgb(72, 72, 72);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  display: flex;
  width: max-content;
  height: inherit;
}

.menuItem {
  margin: auto;
  padding-left: 10px;
  font-family: impact;
  font-style: italic;
}

.menuLinks {
  padding: 20px;
  font-size: 15px;
  font-size: 20px;
  padding-bottom: 0px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logoInsta {
  float: left;
  padding-left: 15px;
}

.logoTracker {
  padding-left: 5px;
  padding-bottom: 2px;
}

.logo a:hover {
  color: rgb(41, 41, 41);
  text-decoration: none;
  text-shadow: none;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}