.App {
  text-align: center;
  background-color: rgb(33,37,41);
  color: white;
}

body {
  background-color: rgb(33,37,41);
}

main {
  margin: auto auto;
  border-radius: 5px;
  padding: 60px;
  background-color: rgb(33,37,41);
}

.wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 60px;
  background-color: rgb(33,37,41);
  height: 94%;
  border-radius: 5px;
}

iframe {
  border-radius: 10px;
}