.App {
  text-align: center;
  background-color: rgb(171, 171, 171);
}

main {
  margin: auto auto;
  /* background-color: rgb(224, 224, 224); */
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  padding: 5px;
  
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 5px;
  background-color: rgb(255, 255, 255);
  /* margin: 0 auto;    */
  height: 94%;
  width: 100%;
  border-radius: 5px;
}



/* Map CSS */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

.youtube {
  margin: 0 auto;

  /* width: 100%; */
}

.btn-outline-danger {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-right: 0.5%;
  padding-left: 25px;
}

#whoButton {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: 0.5%;
  padding-left: 25px;
}

